*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(248, 247, 246);
}
div img{
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;

}
nav{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}
nav li{
    /* background-color: cornsilk; */
    list-style: none;
    cursor: pointer;
    margin: 0px 20px 0px;
}